<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - University-Portal</title>

    <link rel="stylesheet" href="~/lib/bootswatch/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/menu.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/University-Portal.styles.css" asp-append-version="true" />
</head>

<body>

    <button class="open-btn" onclick="openNav()">☰ Menu</button>

    <div id="side-menu" class="side-menu">
        <a href="javascript:void(0)" class="close-btn" onclick="closeNav()">&times;</a>

        <nav>
            <a asp-controller="Home" asp-action="Index">Home</a>
            <a asp-controller="Post" asp-action="Index">Blog</a>

            @if (User.IsInRole("Admin"))
            {
                <a asp-controller="Admin" asp-action="CreateEvent">➕ Create event</a>
                <a asp-controller="Post" asp-action="Create">➕ Create post</a>
            }

            <a asp-controller="Home" asp-action="Privacy">Privacy</a>
        </nav>

        <div class="login-section">
            <partial name="_LoginPartial" />
        </div>
    </div>

    <div class="container mt-5 pt-4">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - University-Portal -
            <a asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script>
        function openNav() {
            document.getElementById("side-menu").style.width = "325px";
        }

        function closeNav() {
            document.getElementById("side-menu").style.width = "0";
        }
    </script>

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
